{% extends "base.html" %}

<HTML>

{% block content %}

<HEAD>

<TITLE>CS 141</TITLE>

</HEAD>

<BODY BGCOLOR="FFFFFF">

<CENTER><IMG SRC="clouds.jpg" ALIGN="BOTTOM"> </CENTER>
<HR>

<a href="http://somegreatsite.com">This is a test link</a>

to the interactive maps we will have in the future.

<H1>This is our home page</H1>

<H2>We will talk about our project here and our purpose</H2>

Contact information will be here at <a href="mailto:cs141@caltech.edu">

cs141@caltech.edu</a>.

<P> This section will be about the project

<P> <B>This section will be the purpose behind the project</B>

<BR> <B><I>This will be some additional information about the data and us, the team that worked on this project.</I></B>

<HR>

</BODY>

{% endblock content %}

</HTML>
