{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

<HTML>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

{% block content %}

<HEAD>
<!--<img src="{% static "home/images/wallpaper.jpg" %}" alt="My image"/>-->

<TITLE>CS 141</TITLE>

</HEAD>

<BODY background="{% static "home/images/WALLPAPER.jpg" %}">

<HR>

<H1>Our Core Message</H1>

<P> The housing crisis has been affecting cities across the country especially major ones like Los Angeles. 
According to recent reports, 57 percent of Los Angeles residents are considered rent burdened meaning that 
as much as 47 percent of their income is going to rent. On top of that, about 53,000 people are homeless. 
These numbers have only been increasing throughout the years as population and demand increase. 
The reason why there is such an imbalance is due to the supply and demand offset. It is estimated that Los 
Angeles will need to create about 1.8 million to 3.5 million to meet minimum demands and as of now, the construction 
pace is falling short of about 100,000 houses per year.
<P> Trying to fix this imbalance is a hard problem, but our group believes that we can aleve this pressure 
by helping home buyers get the best deal. Based on the Los Angeles County housing open dataset, we will 
test different model to accurately predict housing prices. Once we are confident with a model, we will 
create a user interface (website) to give the user an easy way to find the best house for his or her 
price point and region. We hope that this product can give home buyers more tools to making the best 
decision and not be rent burdened. 


<H2>We are here to help.</H2>

<P> 	This project will be an important tool that can be used for current or future renters or homeowners 
to effectively estimate the future cost of prospective homes and therefore provide insight into the optimal 
house given their desired region and lifestyle. We hope that when people use this tool, they will avoid 
making large financial mistakes which could cost them dearly. By helping the renter, this will also 
help the homeowners indirectly. Our tool will direct renters to optimal housing, meaning they can provide 
a steady stream of affordable income because they will have anticipated (via our tool) any price increases. 
If our tool becomes widespread, this will help optimize the housing market and actually provide people with 
reliable housing information. We hope that by doing this, we can minimize homelessness and costly housing 
situations so people will have more of their income to spend on resources other than housing. 

<P>

Contact information will be here at <a href="mailto:cs141@caltech.edu">

cs141@caltech.edu</a>.

<P>

<BR> <B><I>Aaron Sartin, Abraham Hussein, Bradley Justice, Kinam Park, Zafir Abou-Zamzam</I></B>

<HR>

</BODY>

{% endblock content %}

</HTML>
