{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% load extras %}

<HTML>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
{% block content %}

<HEAD>
<!--<img src="{% static "home/images/wallpaper.jpg" %}" alt="My image"/>-->

<TITLE>CS 141</TITLE>
<style>
      /* Set the size of the div element that contains the map */
     #map {
       height: 700px;  /* The height is 400 pixels */
       width: 100%;  /* The width is the width of the web page */
       background-color: grey;
      }
   </style>
</HEAD>

<BODY background="{% static "home/images/WALLPAPER.jpg" %}">

    <!-- <img src="{% static "img/zipcode.jpg" %}" style="width:700px; margin-left: auto;
  margin-right: auto; display: block"></img> -->
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

  <div id="map">
      <script>
     // Initialize and add the map
     function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }


     function initMap() {

       var mapOptions = {
          zoom: 13,
          center: new google.maps.LatLng(33.98923126510881,-118.24336835307383)
        }

        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        // var transitLayer = new google.maps.TransitLayer();
        // transitLayer.setMap(map);

        map.data.loadGeoJson("{% static "data/ZIPCodes.geojson" %}");

        var infowindow = new google.maps.InfoWindow({
          content: "hello"
        });


        map.data.setStyle({
          fillColor: 'green',
          strokeWeight: 1
        });

        // this is called when clicked
        map.data.addListener('click', function(event) {
           map.data.overrideStyle(event.feature, {fillColor: getRandomColor()});

           var zipcode = event.feature.getProperty("zipcode");
           var zippath = '/media/mu/' + zipcode + '.png';
           // var zippath = '/media/zipcode.jpg';

           // var graphimg = "/staticdataimg/" + zipcode + ".png";
           var s = "1234"

           var x = "hello"


           var content = '<div id="content">'+
           '<h1 id="firstHeading" class="firstHeading">' + zipcode + '</h1>'+
           '<div id="bodyContent">'+
           '<p>The graph will go here {% lookup arg_value %} </p>'+
           '<img src="'+ zippath +'" style="max-width:100%; max-height:100%; margin-left: auto; margin-right: auto; display: block"</img>'
           '</div>'+
           '</div>';



           // set the p at bottom of html
           // document.getElementById("test").innerHTML = event.feature.getProperty("zipcode");
           infowindow.setPosition(event.latLng);
           infowindow.setContent(content);
           infowindow.open(map);

        });

     }
         </script>
         <script async defer
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_LfoOPm7CqUBulpoz9NoSTIlECyzYPic&callback=initMap">
         </script>

  </div>
  <img class="img-responsive" src="/media/mu/90001.png"/>



</body>
{% endblock content %}

</html>
