{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

<HTML>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

{% block content %}

<HEAD>
<!--<img src="{% static "home/images/wallpaper.jpg" %}" alt="My image"/>-->

<TITLE>CS 141</TITLE>
<style>
      /* Set the size of the div element that contains the map */
     #map {
       height: 400px;  /* The height is 400 pixels */
       width: 100%;  /* The width is the width of the web page */
       background-color: grey;
      }
   </style>
</HEAD>

<BODY background="{% static "home/images/WALLPAPER.jpg" %}">
    <!-- <img src="{% static "img/zipcode.jpg" %}" style="width:700px; margin-left: auto;
  margin-right: auto; display: block"></img> -->

  <div id="map">
      <script>
     // Initialize and add the map
     function initMap() {
       // The location of Uluru

       var mapOptions = {
          zoom: 11,
          center: new google.maps.LatLng(34.0522,-118.2437)
        }

        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        // var transitLayer = new google.maps.TransitLayer();
        // transitLayer.setMap(map);

        map.data.loadGeoJson("{% static "data/ZIPCodes.geojson" %}")
     }
         </script>
         <script async defer
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_LfoOPm7CqUBulpoz9NoSTIlECyzYPic&callback=initMap">
         </script>
  </div>


</body>
{% endblock content %}

</html>
